{% extends "layout.twig.html" %}

{% block page_title %}Add a post{% endblock %}

{% block style %}
    {{ parent() }}
    .label {
        font-size: 1.1em;
    }
{% endblock %}

{% block content %}
    <section>
        <div class="container">
            <div class="row">
                <div class="title col-lg-12 text-center">
                    <h2>Add a post</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <form action="add" method="post" id="contactForm" novalidate>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Author</label>
                                <input type="text" class="form-control" placeholder="Author" id="author" name="author" value="{{ post.author }}">
                                {% if authorNotif is defined %}
                                    <p class="help-block text-danger">
                                        <div class="label label-lg label-danger">
                                            {{ authorNotif }}
                                        </div>
                                    </p>
                                {% endif %}
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Title</label>
                                <input type="email" class="form-control" placeholder="Title" id="title" name="title" value="{{ post.title }}">
                                {% if titleNotif is defined %}
                                    <p class="help-block text-danger">
                                        <div class="label label-lg label-danger">
                                            {{ titleNotif }}
                                        </div>
                                    </p>
                                {% endif %}
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Lead</label>
                                <textarea rows="2" class="form-control" placeholder="Lead" id="lead" name="lead">{{ post.lead }}</textarea>
                                {% if leadNotif is defined %}
                                    <p class="help-block text-danger">
                                        <div class="label label-lg label-danger">
                                            {{ leadNotif }}
                                        </div>
                                    </p>
                                {% endif %}
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Content</label>
                                <textarea rows="5" class="form-control" placeholder="Content" id="message" name="content">{{ post.content }}</textarea>
                                {% if contentNotif is defined %}
                                    <p class="help-block text-danger">
                                        <div class="label label-lg label-danger">
                                            {{ contentNotif }}
                                        </div>
                                    </p>
                                {% endif %}
                            </div>
                        </div>
                        <div>
                            <input type="hidden" name="token" id="token" value="{{ token }}" />
                        </div>
                        <br>
                        <div class="row">
                            <div class="form-group col-xs-12">
                                <button type="submit" class="btn btn-success btn-lg">Add</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
