<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Post Explorer</title>

    <!-- Bootstrap Core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="css/freelancer.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
    .post .row {
        margin: 20px;
    }
    .post {
        margin-bottom: 20px;
        padding-bottom: 20px;
        border-bottom: solid 2px black;
    }
    section .container {
        padding-top: 80px;
    }
    .title {
        margin-bottom: 30px;
    }
    </style>
</head>

<body id="page-top" class="index">

    {{ include('navbar.html') }}

    <section>
        <div class="container">
            <div class="row">
                <div class="title col-lg-12 text-center">
                    <h2>Post Explorer</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="post col-sm-6 col-sm-offset-3">
                    <div class="row">
                        <h4>{{ post.title }}</h4>
                    </div>
                    <div class="row">
                        <p>{{ post.lead }}</p>
                    </div>
                    <div class="row">
                        <div class="label label-default">
                            Last modification: {{ post.date }} at {{ post.date.format('Y-m-d H:i:s')}}
                        </div>
                    </div>
                    <div class="row">
                        <a href="show-{{ post.id }}">See this post in details</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="post col-sm-6 col-sm-offset-3">
                    <div class="row">
                        <h4>{{ post.title }}</h4>
                    </div>
                    <div class="row">
                        <p>{{ post.lead }}</p>
                    </div>
                    <div class="row">
                        <div class="label label-default">
                            Last modification: {{ post.date }} at {{ post.date.format('Y-m-d H:i:s')}}
                        </div>
                    </div>
                    <div class="row">
                        <a href="show-{{ post.id }}">See this post in details</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {{ include('footer.html') }}

    <!-- jQuery -->
    <script src="vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="js/jqBootstrapValidation.js"></script>

    <!-- Theme JavaScript -->
    <script src="js/freelancer.min.js"></script>

</body>

</html>
