{% extends "layout.twig.html" %}

{% block page_title %}Modify a post{% endblock %}

{% block style %}
    {{ parent() }}
    .post .row {
        margin: 20px;
    }
{% endblock %}

{% block content %}
    <section>
        <div class="container">
            <div class="row">
                <div class="title col-lg-12 text-center">
                    <h2>{{ post.title }}</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row post">
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                        <p><strong>{{ post.lead|nl2br }}</strong></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                        <p>{{ post.content|nl2br }}</p>
                    </div>
                </div>
                <div class="row blockquote blockquote-reverse">
                    <p>by {{ post.author }}</p>
                </div>
                <div class="row">
                    <div class="label label-default pull-right">
                        Last modification: {{ post.date }} at {{ post.date|date('Y-m-d H:i')}}
                    </div>
                </div>
                <div class="row pull-right">
                    <a class="btn btn-primary" href="update-{{ post.id }}">Modify this post</a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
